@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/jquery")

<main>
    <section style="margin-bottom:1em">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block"  src="~/src/img/HT-1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="" src="~/src/img/HT-1.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="" src="~/src/img/HT-1.png" alt="Third slide">
                </div>
            </div>
        </div>
</section>

    <div class="row">
        <section class="col-lg-3" style="margin-bottom: 1em" aria-labelledby="gettingStartedTitle">
            <div class="market-card">
                <h4 class="cardTitle">Computadoras</h4>

                        <div class="row">
                            <div class="col-6">
                                <img class="bottom-card-1" src="~/src/img/Comp.png" alt="Computadora">
                            </div>
                            <div class="col-6">
                                <img class="bottom-card-1 laptop" src="~/src/img/laptop.png" alt="Computadora">
                            </div>
                        </div>
                <hr/>
                <div >
                    <p><a class="btn market-btn" href="https://go.microsoft.com/fwlink/?LinkId=301865"> Buscar &raquo;</a></p>
                </div>
            </div>
        </section>
        <section class="col-lg-3" style="margin-bottom: 1em" aria-labelledby="librariesTitle">
            <div class="market-card">
                <h4 class="cardTitle">Componentes</h4>
                <p>
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        </section>
        <section class="col-lg-3" style="margin-bottom: 1em" aria-labelledby="librariesTitle">
            <div class="market-card">
                <h4 class="cardTitle">Periféricos</h4>
                <p>
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        </section>
        <section class="col-lg-3" style="margin-bottom: 1em" aria-labelledby="librariesTitle">
            <div class="market-card">
                <h4 class="cardTitle">Accesorios</h4>
                <p>
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        </section>
    </div>
</main>