
@{
    ViewBag.Title = "Mis Direcciones";
}



<div class="container-fluid m-auto text-center pt-5">
    <h1 class="page-title">Mi Billetera</h1>
</div>


<script>

    function getDateString(date) {
        var dateObj = new Date(parseInt(date.substr(6)));
        return dateObj.toLocaleDateString('es-ES', { year: 'numeric', month: '2-digit' });
    }


    $(document).ready(function () {
        $('#productoGrid').dataTable({
            "processing": true,
            "serverSide": true,
            "filter": false,
            "bFilter": false,
            "orderMulti": false,
            "pageLength": 5,
            "scrollX": true,
            "language": {
                "lengthMenu": "Muestre _MENU_ productos por página",
                "zeroRecords": "No logramos encontrar los productos - Perdón :(",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay productos para mostrar",
                "infoFiltered": "(filtrado de _MAX_ productos totales)",
                "paginate": {
                    "first": "Primera",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Previa"
                },
                "search": "Buscar  "
            },

            "ajax": {
                "url": "/Billetera/LoadCuentas",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [3],
                        "visible": true,
                        "searchable": false,
                        orderable: false,
                    },
                ],

            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "Nombre", "name": "Nombre", "autoWidth": true },
                {
                    "data": "FechaExp", "name": "FechaExp",
                    "render": function (data) { return getDateString(data); }
                },
                {
                    "render": function (data, type, full, meta) {
                        return '<a class="btn Detalle" href="/Producto/Detalle/'
                            + full.IdProducto + '"> <i class="fa-solid fa-circle-info fa-xl"></i> </a>';
                    }
                },

            ]

        });
    });
</script>


<div class=" ">
    <br />
    <div class="mb-3" style="float:right">
        <a id="redireccion" href="/Billetera/Crear/" class="btn btn-gradient"> <i class="fa-solid fa-plus"> </i> </a>
    </div>
    <div style=" width:101%; margin:0 auto;">
        <table id="productoGrid" class="table table-striped table-bordered dt-responsive nowrap overflow-x-scroll" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th> @* 0 *@
                    <th>Tipo de Tarjeta</th> @* 3 *@
                    <th>Fecha de expiración</th> @* 2 *@
                    <th>Detalle</th> @* 2 *@
                </tr>
            </thead>
        </table>
    </div>
</div>

