*{
    font-family: code_boldregular;
    letter-spacing: 0.3vh;
}


.logo2 {
    height: 6em;
    object-fit: cover;
}

detalleContainer {
    background: antiquewhite
}

.footerColor {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 1%);
}
.foot-Title {
    color: #ffffffc4;
    font-family: code_boldregular;
    letter-spacing: 2px;
    display: block;
    padding: var(--bs-nav-link-padding-y) 0.3rem;
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

    .foot-Title:hover {
        cursor: pointer;
        color: #a847ea;
    }

.nav-link2 {
    display: block;
    padding: var(--bs-nav-link-padding-y) 0.3rem;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffffffc4;
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link2:hover, .nav-link2:focus {
    color: #a847ea;
    padding: var(--bs-nav-link-padding-y) 0.7rem;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    margin-left: 3px;
}

btn-table {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.desc-box{
    margin: 20px 0px;
}

.desc-text{
    border: 1px solid #808080d2;
    border-radius: 5px;
    padding: 0.8em;
}

.btn-comprar {
    color: white;
    text-decoration: none;
    border: 1px solid #a847ea;
    background-color: #a847ea;
}

    .btn-comprar:hover {
        color: white;
        text-decoration: none;
        border: 1px solid #7d33d1;
        background-color: #7d33d1;
    }

.desc-box p {
    color: #686868
}

.desc-box p span{
    color: #2c2c2c ;
}

.smallpfp {
    width: 3.5em;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #686868;
}


.com-text {
    padding: 10px;
    background-color: #f3f4f8b8;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #909090;
}

.productos{
    background-color: #646464;
}

.combox-limit {
    margin: 5px;
}

    @media (max-width: 768px) {
        .combox-limit {
            margin-right: 30px;
        }


    }
h6 span {
    font-weight: 900;
    color: #9d29ed;
}

.respuesta {
    background-color: #edededdd;
}

producto-tainer {
    border: 1px #808080d2 solid;
    border-radius: 0px 10px 10px 0px;
}

.block-cat{
    margin: 1em;
    padding: 0.6em;
    border-bottom: 1px solid white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

}

    .block-cat:hover {
        border-bottom: 1px solid #a847ea;
        background-color: #a847ea;
        color: #ffffffff;
    }

.notfair {
    color: #f3f4f8b8;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.notfair:hover{
    animation: ease-in 1s;
    color: #ffffffff;
    font-weight:bold;
}

.individualproduct{
    padding: 0.5em;
    color: #bd78edd7;
}

.individualproduct span{
    color: #ffffffc4
}

.img-thumbnail{
    border:none;
}
.btn-large{
    width: 100%;
}

.btn-detalle {
    margin-bottom: 0.5em;
    background-color: #e4cb3f
}

    .btn-detalle:hover {
        background-color: #e4a93f;
        color: #0d0d0d
    }

.form-control {
    background-color: #aaa;
    border-color: #a847ea;
}

    .form-control:focus {
        background-color: #aaa;
        border-color: #a847ea;
        box-shadow: 0px 0px 10px #a847ea;
    }

.page-title {
    font-weight: bold;
    background: rgb(255,215,66);
    background: linear-gradient(90deg, rgba(255,170,32,1) 0%, rgba(164,37,255,1) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@font-face {
    font-family: 'code_boldregular';
    src: url('../src/fonts/code_bold-webfont.woff2') format('woff2'), url('../src/fonts/code_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
        font-family: 'code_lightregular';
        src: url('../src/fonts/code_light-webfont.woff2') format('woff2'), url('../src/fonts/code_light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }