*{
    font-family: code_boldregular;
    letter-spacing: 0.3vh;
}


.logo2 {
    height: 6em;
    object-fit: cover;
}

detalleContainer {
    background: antiquewhite
}

.footerColor {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 1%);
}
.foot-Title {
    color: #ffffffc4;
    font-family: code_boldregular;
    letter-spacing: 2px;
    display: block;
    padding: var(--bs-nav-link-padding-y) 0.3rem;
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

    .foot-Title:hover {
        cursor: pointer;
        color: #a847ea;
    }

.nav-link2 {
    display: block;
    padding: var(--bs-nav-link-padding-y) 0.3rem;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffffffc4;
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link2:hover, .nav-link2:focus {
    color: #a847ea;
    padding: var(--bs-nav-link-padding-y) 0.7rem;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    margin-left: 3px;
}

btn-table {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.desc-box{
    margin: 20px 0px;
}

.desc-text{
    border: 1px solid #808080d2;
    border-radius: 5px;
    padding: 0.8em;
}

.btn-comprar {
    color: white;
    text-decoration: none;
    border: 1px solid #a847ea;
    background-color: #a847ea;
}

    .btn-comprar:hover {
        color: white;
        text-decoration: none;
        border: 1px solid #7d33d1;
        background-color: #7d33d1;
    }

.desc-box p {
    color: #686868
}

.desc-box p span{
    color: #2c2c2c ;
}

.smallpfp {
    width: 3.5em;
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #686868;
}


.com-text {
    padding: 10px;
    background-color: #f3f4f8b8;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #909090;
}

.productos{
    background-color: #646464;
}

.combox-limit {
    margin: 5px;
}

    @media (max-width: 768px) {
        .combox-limit {
            margin-right: 30px;
        }


    }
h6 span {
    font-weight: 900;
    color: #9d29ed;
}

.respuesta {
    background-color: #edededdd;
}

producto-tainer {
    border: 1px #808080d2 solid;
    border-radius: 0px 10px 10px 0px;
}

.block-cat{
    margin: 1em;
    padding: 0.6em;
    border-bottom: 1px solid white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

}

    .block-cat:hover {
        border-bottom: 1px solid #a847ea;
        background-color: #a847ea;
        color: #ffffffff;
    }

.notfair {
    color: #f3f4f8b8;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.notfair:hover{
    animation: ease-in 1s;
    color: #ffffffff;
    font-weight:bold;
}

.individualproduct{
    padding: 0.5em;
    color: #bd78edd7;
}

.individualproduct span{
    color: #ffffffc4
}

.img-thumbnail{
    border:none;
}

.btn-large{
    width: 100%;
}

.btn-detalle {
    margin-bottom: 0.5em;
    background-color: #e4cb3f
}

    .btn-detalle:hover {
        background-color: #e4a93f;
        color: #0d0d0d
    }

.form-control {
    background-color: #aaa;
    border-color: #a847ea;
}

    .form-control:focus {
        background-color: #aaa;
        border-color: #a847ea;
        box-shadow: 0px 0px 10px #a847ea;
    }

.page-title {
    font-weight: bold;
    background: rgb(255,215,66);
    background: linear-gradient(90deg, rgba(255,170,32,1) 0%, rgba(164,37,255,1) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orden-container {
    padding: 1em;
    margin: 1em;
    background-color: #1e1e1e;
    border: 1px solid #808080d2;
    border-radius: 10px;
}

.orden-container hr{
    border: 1px solid white;
}

.orden-header{
    color:#edededee;
}
.inside-orden {
    background-color: #f3f3f3ff;
    padding: 1em;
    border-radius: 10px;
}

.tablaOrden {
    table-layout: fixed;
    width: 100%;
    overflow-x: scroll;
  
}

    .tablaOrden th {
        border-bottom: 1px solid black;
        color: #ffffffc4;
    }

    .tablaOrden tr td {
        background-color: #eeeeeeff;
        border-bottom: 1px solid black;
    }

.orden-totales {
    text-align: right;
    border-bottom: 1px solid black;
}

.tn-img img {
    width: 3em;
    height: 3em;
    border-radius: 1em;
    opacity: 0.75;
    transition: ease-in 0.2s; 

}

.tn-img img:hover {
    opacity: 1;
    cursor: pointer;
}

.producto-container {
    margin: 1em 0em;
    background-color: #ffffffd8;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(180deg, rgba(213,0,255,1) 0%, rgba(255,156,0,1) 100%) 1;
}

.producto-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 20em;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(213,0,255,0.2) 0%, rgba(255,156,0,0.2) 100%) 1;
}

.form-text {
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-size: 1em;
    color: var(--bs-secondary-color);
}

textarea{
    width: 100%;
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-size: 1em;
    color: var(--bs-secondary-color);
}


.header {
    background-color: rgba(0,0,0,0.85);
    backdrop-filter: blur(12px);
}

output {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
}

.text-validation > span {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
    letter-spacing: 0;
    font-weight: bold;
}


output .image {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

        output .image img {
            height: 100%;
            width: 100%;
        }

        output .image span {
            position: absolute;
            top: -4px;
            right: 4px;
            cursor: pointer;
            font-size: 22px;
            color: white;
        }

            output .image span:hover {
                opacity: 0.8;
            }

    output .span--hidden {
        visibility: hidden;
    }

.swal2-icon.swal2-warning {
    border-color: #a847eae4 !important;
    color: #a847eae4 !important;
}

.btn-gradient {
    color: #faf5ee;
    background: #7c17d4;
    border: 1px white;
    overflow:hidden;
}

    .btn-gradient:hover {
        color: black;
        background: #ffb506eb;
        border: 1px white;
    }


@font-face {
    font-family: 'code_boldregular';
    src: url('../src/fonts/code_bold-webfont.woff2') format('woff2'), url('../src/fonts/code_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
        font-family: 'code_lightregular';
        src: url('../src/fonts/code_light-webfont.woff2') format('woff2'), url('../src/fonts/code_light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }